<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.serve.mapper.ArticleMapper">
    <select id="articlePageQuery" resultType="com.serve.vo.ArticleCategoryLinkVO">
        select article.*, category.name as categoryName
        from blog.article left outer join blog.category on article.category_id = category.id
        <where>
            <if test="article.status != null">and status = #{article.status}</if>
            <if test="article.title != null">and title like concat('%', #{article.title}, '%')</if>
            <if test="article.categoryId != null">and category_id = #{article.categoryId}</if>
            <if test="article.userId != null">and user_id = #{article.userId}</if>
            <if test="article.createTime != null">and article.create_time = #{article.createTime}</if>
        </where>
    </select>
</mapper>