<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.serve.mapper.CommentMapper">
    <select id="getCommentListByArticleId" resultType="com.serve.vo.CommentVO">
        select comment.*, nickname, username
        from blog.comment left outer join blog.user on user_id = user.id
        <where>
            and article_id = #{articleId}
        </where>
    </select>
</mapper>